<mat-toolbar color="warn">
  <div class="toolbar-start">
    <a [routerLink]="'/'" mat-icon-button aria-label="Ir al inicio">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span class="ml-2">OTECH portal de exámenes</span>
  </div>

  <span class="spacer"></span>

  <div class="toolbar-end">
    <a
      *ngIf="!loginService.isLoguedIn()"  
      mat-button 
      [routerLink]="'/login'" 
      class="mr-2 text-body text-decoration-none btn shadow-sm">Iniciar sesión</a>
      <a
      *ngIf="!loginService.isLoguedIn()"  
      mat-button 
      [routerLink]="'/signup'" 
      class="mr-2 text-body text-decoration-none btn shadow-sm">Registrarse</a>
    <span *ngIf="loginService.isLoguedIn()" class="bg-success rounded text-white fw-bold p-2 px-5 m-2">
      Bienvenido
      {{ loginService.getUser()?.username }}
    </span>
    <a 
      *ngIf="loginService.isLoguedIn()"
      (click)="logout()"
      mat-button 
      class="text-body text-decoration-none btn shadow-sm">Cerrar sesión</a>

    
  </div>
</mat-toolbar>
