<mat-toolbar class="custom-light-blue text-white shadow-sm px-3">
  <div class="toolbar-start d-flex align-items-center">
    <a [routerLink]="'/'" mat-icon-button aria-label="Ir al inicio" class="text-white">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span class="ms-2 fw-semibold">OTECH </span>
  </div>

  <span class="flex-grow-1"></span>

  <div class="toolbar-end d-flex align-items-center gap-2">
    <a
      *ngIf="!loginService.isLoguedIn()"  
      mat-button 
      [routerLink]="'/login'" 
      class="btn btn-light btn-sm">Iniciar sesión</a>
    
    <a
      *ngIf="!loginService.isLoguedIn()"  
      mat-button 
      [routerLink]="'/signup'" 
      class="btn btn-outline-light btn-sm">Registrarse</a>
    
    <span 
      *ngIf="loginService.isLoguedIn()" 
      class="bg-success rounded-pill text-white px-3 py-1 fw-bold small">
      Bienvenido {{ loginService.getUser()?.username }}
    </span>

    <a 
      *ngIf="loginService.isLoguedIn()"
      (click)="logout()"
      mat-button 
      class="btn btn-outline-light btn-sm">Cerrar sesión</a>
  </div>
</mat-toolbar>

